/widgets/__pycache__
/widgets/UpperFrame1_widgets/__pycache__
/widgets/UpperFrame2_widgets/__pycache__
/widgets/MainFrame_widgets/__pycache__
/widgets/MainFrame_widgets/ContentFrame_widgets/__pycache__
/ciphers/__pycache__
/dist
/build
/*.spec
/.vscode